<html>
{#<script>#}
{#    var _hmt = _hmt || [];#}
{#    (function() {#}
{#        var hm = document.createElement("script");#}
{#        hm.src = "https://hm.baidu.com/hm.js?d487f61ef92d3106864a46bfd8350e18";#}
{#        var s = document.getElementsByTagName("script")[0];#}
{#        s.parentNode.insertBefore(hm, s);#}
{#    })();#}
{#</script>#}
<head>
    <meta charset="UTF-8">
    <title>高级设置</title>
<script>
    contextPath = "";
    resourcesPath = "/static/resources";
</script>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
      content="width=device-width, initial-scale=1">
<meta name="format-detection" content="telephone=no">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp"/>
<link rel="alternate icon" type="image/png" href="/static/resources/img/favicon.ico">
<link rel="stylesheet" href="/static/resources/common/amazeui/css/amazeui.min.css"/>

    <link rel="stylesheet" href="/static/resources/css/index.css">
    <script src="/static/resources/common/jquery/jquery-3.3.1.min.js"></script>
    <script src="/static/resources/common/jquery/jquery.cookie.min.js"></script>
    <script>
        $.ajax({
                url: contextPath+"/dynamicjs/toolbar",
                async: false,
                success: function (data) {
                    global_str_toolbar = data;
                }
            }
        )
    </script>
    <script>

    </script>
</head>
<body>
<header class="am-topbar excapp-topbar">
    <h1 class="am-topbar-brand">
        <a href="#"><img class="logo excapp-logo" src="/static/resources/img/logo.png"></a>
    </h1>
    <div class="am-topbar-brand">
        <a href="javascript:" id="admin-fullscreen">
            <span class="am-icon-arrows-alt"></span>
            <span class="admin-fullText">返回编程</span>
        </a>
    &nbsp;
        <a href="javascript:" id="vnc">
            <span class="am-icon-desktop"></span>
            <span class="admin-fullText">远程桌面</span>
        </a>
    </div>
</header>
<div class="am-tabs excapp-content" id="excapp_tabs" data-am-widget="tabs" data-am-tabs-noswipe="1">
    <ul class="am-tabs-nav am-nav am-nav-tabs am-nav-justify">
        <li class="am-active">
            <a href="">
                <span class="am-icon-home am-icon-sm"></span>
                工作区
            </a>
        </li>
        <li>
            <a href="">
                <i class="am-icon-gear am-icon-spin"></i>
                设置
            </a>
        </li>
    </ul>
    <div class="am-tabs-bd excapp-full-height">
        <div class="am-tab-panel am-active"  style="padding-top: 0;"></div>
        <div class="am-tab-panel"  style="padding-top: 0;"></div>
    </div>
</div>
<footer class="footer">
    <p>© 2018 <a href="http://www.virobotics.cn" target="_blank">VIRobotics, Inc.</a> by the VIRobotics Team.</p>
</footer>

<script src="/static/resources/common/amazeui/js/amazeui.min.js"></script>
<script  src="/static/resources/js/lang/{{ lang }}.js"></script>
<script src="/static/resources/common/amazeui/js/amazeui.dialog.min.js"></script>
<script src="/static/resources/common/amazeui/js/app.js"></script>
<script src="/static/resources/common/blockly/blockly_compressed.js"></script>
<script src="/static/resources/common/blockly/blocks_compressed.js"></script>
<script src="/static/resources/common/blockly/python_compressed.js"></script>
<script src="/static/resources/common/blockly/msg/js/{{ lang }}.js"></script>
<script src="/static/resources/js/blockly/definitions.js"></script>
<script src="/static/resources/js/blockly/constant.js"></script>
<script src="/static/resources/js/blockly/toolsBar.js"></script>
<script src="/static/resources/js/blockly.min.js"></script>
<script src="/static/resources/js/activa.min.js"></script>
<script src="/static/resources/js/index.min.js"></script>
<script src="/static/resources/js/user.js"></script>
<script src="/static/resources/common/crypto/jsencrypt.min.js"></script>
</body>
</html>
